In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
%matplotlib inline

Load the data.

Transaction data frame contain detail of all transacion.
Fraud data frame contain a list of fraudster
Users data frame contain information of the user.

In [4]:
transaction = pd.read_csv("../data/train_transactions.csv",index_col = 0)
fraud = pd.read_csv("../data/train_fraudsters.csv",index_col = 0)
users = pd.read_csv("../data/train_users.csv",index_col = 0)
transaction.Fraud = transaction.Fraud.apply(lambda x: 0 if x== "0" else 1)

In [13]:
transaction.head()

,CURRENCY,AMOUNT,STATE,CREATED_DATE,MERCHANT_CATEGORY,MERCHANT_COUNTRY,ENTRY_METHOD,USER_ID,TYPE,SOURCE,ID,Fraud
0,GBP,3738,COMPLETED,05:43.0,bar,AUS,misc,7285c1ec-31d0-4022-b311-0ad9227ef7f4,CARD_PAYMENT,GAIA,5a9ee109-e9b3-4598-8dd7-587591e6a470,0
1,GBP,588,COMPLETED,08:39.1,NaN,CA,misc,20100a1d-12bc-41ed-a5e1-bc46216e9696,CARD_PAYMENT,GAIA,28d68bf4-460b-4c8e-9b95-bcda9ab596b5,0
2,GBP,1264,COMPLETED,37:40.9,NaN,UKR,misc,0fe472c9-cf3e-4e43-90f3-a0cfb6a4f1f0,CARD_PAYMENT,GAIA,1f1e8817-d40b-4c09-b718-cfc4a6f211df,0
3,GBP,66,REVERTED,08:35.3,NaN,CA,misc,20100a1d-12bc-41ed-a5e1-bc46216e9696,CARD_PAYMENT,GAIA,a7aaf78c-d201-456f-9e6d-612a795e8c32,0
4,GBP,968,COMPLETED,46:47.6,supermarket,NZL,misc,821014c5-af06-40ff-91f4-77fe7667809f,CARD_PAYMENT,GAIA,27dd99a2-5539-4ba9-876a-1a94abc2701f,0

In [7]:
transaction.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 688651 entries, 0 to 688650
Data columns (total 13 columns):
Unnamed: 0           688651 non-null int64
CURRENCY             688651 non-null object
AMOUNT               688651 non-null int64
STATE                688651 non-null object
CREATED_DATE         688651 non-null object
MERCHANT_CATEGORY    223065 non-null object
MERCHANT_COUNTRY     483073 non-null object
ENTRY_METHOD         688651 non-null object
USER_ID              688651 non-null object
TYPE                 688651 non-null object
SOURCE               688651 non-null object
ID                   688651 non-null object
Fraud                688651 non-null object
dtypes: int64(2), object(11)
memory usage: 68.3+ MB

MERCHANT_CATEGORY has alot of missing data, MERCHANT_COUNTRY has about 30% missing data as

In [14]:
users.head()

,Unnamed: 0,FAILED_SIGN_IN_ATTEMPTS,KYC,BIRTH_YEAR,COUNTRY,STATE,CREATED_DATE,TERMS_VERSION,PHONE_COUNTRY,HAS_EMAIL,ID
0,0,0,PASSED,1971,GB,ACTIVE,2017-08-06 07:33:33.341000,2018-05-25,GB||JE||IM||GG,1,1872820f-e3ac-4c02-bdc7-727897b60043
1,1,0,PASSED,1982,GB,ACTIVE,2017-03-07 10:18:59.427000,2018-01-01,GB||JE||IM||GG,1,545ff94d-66f8-4bea-b398-84425fb2301e
2,2,0,PASSED,1973,ES,ACTIVE,2018-05-31 04:41:24.672000,2018-09-20,ES,1,10376f1a-a28a-4885-8daa-c8ca496026bb
3,3,0,PASSED,1986,FR,ACTIVE,2018-06-01 17:24:23.852000,2018-05-25,FR,1,fd308db7-0753-4377-879f-6ecf2af14e4f
4,4,0,PASSED,1989,GB,ACTIVE,2017-08-09 15:03:33.945000,2018-09-20,GB||JE||IM||GG,1,755fe256-a34d-4853-b7ca-d9bb991a86d3